{% extends "index.html" %}
{% block content %}

<h1> Home </h1>
    <p>This is the home page, at the top you will find the Intro mode,
        Playlist mode, and an about page for more details. </p>

<h4> Intro Mode </h4>
    <p> This page is in charge of welcoming students in the lab. On this page 
        is where students can swipe in and play their intro song.
    </p>
<h4> Playlist Mode</h4>
    <p> This page is in charge of the local playlist in the lab. Students can search and add songs
        to the playlist, as well as pause or rewind the current song.
    </p>

{% endblock content %}