{% extends "index.html" %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/playlist.css')}}">
{% endblock %}

{% block content%}

<h1> Playlist Mode </h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#song-confirm" style="display:none">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="song-confirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Song Confirmation</h1>
      </div>
      <div class="modal-body">
        <!-- Modal Body with full title-->
        <p id="song_track" class="vert_margin"></p>
      </div>
      <div class="modal-footer">
        <!-- Modal buttons -->
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="yes-song">Yes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="no-song">No</button>
      </div>
    </div>
  </div>
</div>

<div class = "row">
    <div class= "col-md-8">
       <!--h2> Main content</h2-->
       <div class="mb-3">
        <div class="alert alert-danger alert-dismissible" role="alert" style="display:none" id="song-error">
          <p id="errorText" ></p>
        </div>
        <!-- Song search form-->
        <form id= "playlist-form" class="playlist-form">
            <label for="song" class="label_form"> Enter Song Title</label>
            <input type ="text" class="form-control " id="song_input" name="song" placeholder="Type to search..." >
            <ul id="suggestions" class="suggestions"></ul>
            <!-- <label for="author" class="label_form"> Enter Artist Name</label>
            <input type ="text" class="form-control " id="author" name="author" placeholder="Type to search..." > -->
            <div style="display:flex; align-items:center;">
                <button type="submit" class="btn btn-danger " id='submit' style ="margin-top: 10px"> Submit</button>
                <div class="spinner-border text-danger vert_margin" role="status" id = 'loading'style='display:none; margin-left: 10px; width: 1.5rem; height: 1.5rem; '> 
                  <span class="visually-hidden" style="margin-left:20px;" >Loading...</span>
              </div>
            </div>
        </form>
           <p id="responseText" class="vert_margin"></p>
         </div>
       <script type="module" src="{{ url_for('static', filename='js/playlist_search.js') }}"> </script>
       <script type="module" src="{{ url_for('static', filename='js/playlist_playback.js') }}"> </script>
    </div>
    <div class="col-md-4">
       <div class="card" style="width: 15rem;">
       <!-- Card Content-->
        <img id = "track-img" width=200 height=200 src="{{ url_for('static', filename='images/musical-note.png') }}" class = "img-thumbnail track-img rounded mx-auto d-block">
        <div class="card-body text-center">
          <!-- Track name and Artist-->
          <h5 id="artist-name"> Artist Name</h5>
          <p id="track-name"> Track Name</p>
        
          <audio id="music">
            <source id= audiosource src="" type ="audio/mp3">
            <script>
              const staticpath = "{{ url_for('static', filename = 'songs/') }}"
            </script>
          </audio>
          <div id="audioplayer">
            <!-- Play button -->
            <i id="pButton" class="fas fa-play"></i>
            <!-- Timeline of track-->
            <div id="timeline">
              <div id="playhead"></div>
            </div>
          </div>

          <button id="all_songs"> All songs</button>
          <button id="one_song"> A song</button>
        </div>
        </div>
       </div>
     </div>
   </div>

{% endblock %}